.discussion {
    background-color: $primaryColor;

    // .discussion__textarea
    &__textarea {
        width: 100%;
        font-size: 1.4rem;
        line-height: 1rem;
        background-color: transparent;
        overflow: hidden;
        resize: none;
        border: none;
        color: $whiteColor;
        padding-right: 0.5rem;
        border-bottom: 1px solid #1c1c1c;

        &::placeholder {
            color: rgba(255, 255, 255, 0.2);
        }

        &:focus + .discussion__border {
            width: 100%;
        }
    }

    // .discussion__border
    &__border {
        display: block;
        width: 0;
        border-bottom: 1px solid $blueColor;
        margin-bottom: 1.2rem;
        transition: width .2s linear;
    }
}