.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: $sidebarWidth;
    overflow: hidden;

    @include breakpoint($tablet-bp) {
        padding-left: 0;

        .show-sidebar & {
            position: relative;
        }
    }

    .page__mask {
        @include breakpoint($tablet-bp) {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($blackColor, 0.9);
        }
    }
}
