.post {

    // .post__links
    &__links {
        margin-bottom: 3rem;
        padding: 3rem 0 0.6rem;
        border-top: 1px solid #1c1c1c;
        border-bottom: 1px solid #1c1c1c;
    }

    // .post__list
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    // .post__list-item
    &__list-item {
        width: 50%;
        margin-bottom: 2.4rem;
    }

    // .post__list-link
    &__list-link {
        display: block;
        color: #f3eba2;
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: 500;
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: .5rem;

        &:hover {
            text-decoration: underline;
        }
    }
}