<div class="modal" id="contact-modal">
    <div class="modal__content">
        <button class="modal-close" type="button">
            <img class="modal-close-icon" src="assets/img/modal-close.svg" alt="modal-close">
        </button>

        <form class="form modal__form" action="#" method="POST">
            <ul class="form__list">
                <li class="form__item">
                    <input class="form__formcontrol" type="text" placeholder="Ваше имя и фамилия">
                    <span class="form__border"></span>
                </li>
                <li class="form__item">
                    <input class="form__formcontrol" type="email" placeholder=" Ваш e-mail">
                    <span class="form__border"></span>
                </li>
                <li class="form__item">
                    <input class="form__formcontrol" type="text" placeholder="Текст сообщения">
                    <span class="form__border"></span>
                </li>
            </ul>
            <button class="btn btn_blue btn_sm-b-radius" type="submit">
                Отправить
            </button>
        </form>
        <div class="modal__footer">
            <ul class="modal__footer-list">
                <li class="modal__footer-item">
                    e-mail:
                    <a href="mailto:gavrstyle@gmail.com" class="modal__footer-link">
                        gavrstyle@gmail.com
                    </a>
                </li>
                <li class="modal__footer-item">
                    тел:
                    <a href="tel:+79964232505" class="modal__footer-link">
                        +7(996)-423-25-05
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>