<header class="header">
    <div class="header__inner">
        <div class="header__left">
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a href="index.html" class="header__nav-link">
                            Главная
                        </a>
                    </li>
                    <li class="header__nav-item has-drop-down">
                        <a href="post.html" class="header__nav-link">
                            Статьи
                        </a>

                        <ul class="drop-down">
                            <li class="drop-down__item">
                                <a href="#" class="drop-down__link">
                                    Создание сайтов
                                </a>
                            </li>
                            <li class="drop-down__item">
                                <a href="#" class="drop-down__link">
                                    Интернет-маркетинг
                                </a>
                            </li>
                            <li class="drop-down__item">
                                <a href="#" class="drop-down__link">
                                    Продвижение видео
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">
                            Обо мне
                        </a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">
                            Реклама
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="header__right">
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="user.html">
                            Профиль
                        </a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#">
                            Выйти
                        </a>
                    </li>
                </ul>
            </nav>
            <form action="search.html" class="search-form" method="GET">
                <input class="search-form__input" type="text" placeholder="Поиск по блогу">
            </form>
        </div>
    </div>
</header>