<div class="modal">
    <div class="modal__content">
        <button class="modal-close" type="button">
            <img class="modal-close-icon" src="assets/img/modal-close.svg" alt="modal-close">
        </button>

        <div class="social">
            <a class="social__link" href="#">
                <img class="social__item social__item_large" src="assets/img/share/facebook.svg" alt="facebook-icon">
            </a>
            <a class="social__link" href="#">
                <img class="social__item social__item_large" src="assets/img/share/twitter.svg" alt="twitter-icon">
            </a>
            <a class="social__link" href="#">
                <img class="social__item social__item_large" src="assets/img/share/vk.svg" alt="vk-icon">
            </a>
            <a class="social__link" href="#">
                <img class="social__item social__item_large" src="assets/img/share/copy.svg" alt="copy-icon">
            </a>
        </div>
    </div>
</div>