<sidebar class="sidebar" id="sidebar">
    <div class="sidebar__header">
        <img src="assets/img/sidebar-header.jpg" alt="sidebar-header">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="assets/img/avatar.jpg" alt="sidebar-avatar">
            <div class="profile__inner">
                <h1 class="profile__title">
                    Дмитрий Гаврилов
                </h1>
                <div class="profile__subtitle">
                    блог web-разработчика
                </div>
            </div>
            <div class="social">
                <a class="social__link" href="#">
                    <img class="social__item" src="assets/img/instagram-icon.svg" alt="instagram-icon">
                </a>
                <a class="social__link" href="https://vk.com/gbxbro">
                    <img class="social__item" src="assets/img/vk-icon.svg" alt="vk-icon">
                </a>
                <a class="social__link" href="#">
                    <img class="social__item" src="assets/img/pinterest-icon.svg" alt="pinterest-icon">
                </a>
            </div>

            <p class="profile__desc">
                Знания HTML5, CSS3 (Flexbox, Grid Layout), основы JS, работа с DOM. Адаптивная и Responsive верстка, работа с медиа-запросами. Поддержание кроссбраузерности, префиксы. Понимание использования сетки Bootstrap. Использование Gulp, написание тасков. Скачивание плагинов через npm, их подключение и использование по документации. Препроцессоры Saas/SCSS. Базовые знания Git.
            </p>
        </div>

        <nav class="nav nav_mobile">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="index.html" class="nav__link">
                        Главная
                    </a>
                </li>
                <li class="nav__item has-drop-down">
                    <a href="post.html" class="nav__link">
                        Статьи
                    </a>

                    <ul class="drop-down">
                        <li class="drop-down__item">
                            <a href="#" class="drop-down__link">
                                Создание сайтов
                            </a>
                        </li>
                        <li class="drop-down__item">
                            <a href="#" class="drop-down__link">
                                Интернет-маркетинг
                            </a>
                        </li>
                        <li class="drop-down__item">
                            <a href="#" class="drop-down__link">
                                Продвижение видео
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="about.html" class="nav__link">
                        Обо мне
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">
                        Реклама
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="user.html">
                        Профиль
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">
                        Выйти
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="sidebar__footer">
        <button class="btn btn_red" type="button">
            <a class="sidebar__footer-link" href="works.html">Мои работы</a>
        </button>
        <button class="btn btn_blue" type="button" data-modal="contact-modal">
            Написать мне
        </button>
    </div>
</sidebar>