<sidebar class="sidebar">
    <div class="sidebar__header">
        <img src="assets/img/sidebar-header.jpg" alt="sidebar-header">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="https://via.placeholder.com/100" alt="sidebar-avatar">
            <h1 class="profile__title">
                Дмитрий Гаврилов
            </h1>
            <div class="profile__subtitle">
                блог начинающего web-разработчика
            </div>

            <div class="social">
                <a class="social__link" href="#">
                    <img class="social__item" src="assets/img/instagram-icon.svg" alt="instagram-icon">
                </a>
                <a class="social__link" href="#">
                    <img class="social__item" src="assets/img/vk-icon.svg" alt="vk-icon">
                </a>
                <a class="social__link" href="#">
                    <img class="social__item" src="assets/img/pinterest-icon.svg" alt="pinterest-icon">
                </a>
            </div>

            <p class="profile__desc">
                Начинающий web-разработчик. Создание сайтов начал практиковать с начала обучения в университете - 2016 год. Получил степень бакалавра в "Казанском государственном энергетическом университете" по специальности прикладная информатика в экономике.
            </p>
        </div>
    </div>
    <div class="sidebar__footer">
        <button class="btn btn_red" type="button">
            <a class="sidebar__footer-link" href="works.html">Мои работы</a>
        </button>
        <button class="btn btn_blue" type="button">
            Написать мне
        </button>
    </div>
</sidebar>