$sidebarWidth: 300px;

$whiteColor: #fff;
$blackColor: #000;
$primaryColor: #202020;
$secondaryColor: #181818;
$blueColor: #3137C9;
$textBlueColor: #107EFF;
$primaryText: #D2D2D2;
$btnRedColor: #ED3024;
$headerColor: #0D0D0D;
$addPostFormColor: #121212;
$paginationActive: #104BE3;

$tablet-bp: 991px;
$mobile-bp: 575px;